.body
{
    font-family: 'Open Sans', sans-serif;
    background-color: #e3dfd3;
    max-width: 1024px;
    min-width: 600px;
    margin: 0 auto;
    padding: 2rem;
}

.leftblock
{
    background-color: #6e6969;
    padding: 1rem;
    width: 35%;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
}

.rightblock
{
    padding: 1rem;
    width: 75%;
    color: #4d4d4d;
    background-color: white;
}

.main
{
border: black solid 1px;
max-width: 1024px;
margin: auto;
}
