.body
{
    font-family: 'Open Sans', sans-serif;
    background-color: #e3dfd3;
}

.upblock
{
    background-color: #6e6969;
    display: flex;
    color: white;
}

.downblock
{
    background-color: white;
    display: flex;
    color: black;
}

.main
{
border: black solid 1px;
max-width: 1024px;
margin: auto;
}
